@let a = asteroid();
@let approach = a.close_approach_data[0];

<mat-card
  appearance="outlined"
  class="asteroid-card"
  [class.hazardous]="a.is_potentially_hazardous_asteroid"
>
  <mat-card-header>
    <mat-icon mat-card-avatar>{{
      a.is_potentially_hazardous_asteroid ? 'warning' : 'blur_on'
    }}</mat-icon>
    <mat-card-title>{{ a.name }}</mat-card-title>
    <mat-card-subtitle>approach date: {{ approach.close_approach_date }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="asteroid-stats">
      <div class="stat-row">
        <mat-icon>straighten</mat-icon>
        <span class="label">Estimated diameter</span>
        <span class="value">
          ~{{
            formatDiameter(
              a.estimated_diameter.kilometers.estimated_diameter_min,
              a.estimated_diameter.kilometers.estimated_diameter_max
            )
          }}
          m
        </span>
      </div>
      <div class="stat-row">
        <mat-icon>speed</mat-icon>
        <span class="label">Velocity</span>
        <span class="value"
          >{{ formatVelocity(approach.relative_velocity.kilometers_per_hour) }} km/h</span
        >
      </div>
      <div class="stat-row">
        <mat-icon>place</mat-icon>
        <span class="label">Distance from Earth</span>
        <span class="value">{{ formatDistance(approach.miss_distance.kilometers) }} km</span>
      </div>
      <div class="stat-row">
        <mat-icon>brightness_5</mat-icon>
        <span class="label">Lunar distance</span>
        <span class="value">{{ formatLunar(approach.miss_distance.kilometers) }} LD</span>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    @if (a.is_potentially_hazardous_asteroid) {
      <mat-chip class="hazard-chip" highlighted color="warn">
        <mat-icon matChipTrailingIcon>priority_high</mat-icon>
        Potentially hazardous
      </mat-chip>
    } @else {
      <mat-chip class="safe-chip">
        <mat-icon matChipTrailingIcon>check_circle</mat-icon>
        Not hazardous
      </mat-chip>
    }
    <a mat-button [href]="a.nasa_jpl_url" target="_blank">
      <mat-icon>open_in_new</mat-icon>
      NASA JPL
    </a>
  </mat-card-actions>
</mat-card>
